.falling-text-container {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  text-align: center;
}

@media (min-width: 1024px) {
  .falling-text-container {
    width: auto;
    aspect-ratio: 9 / 16;
    margin: 0 auto; /* center horizontally */
  }
}

.word {
  display: inline-block;
  margin: 0 2px;
  user-select: none;
  color: black;
}

.falling-text-canvas {
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 0; */
}
